.wall {
    width: 70px;
    height: 70px;
    background-image: url('img/wall70.png');
    display: inline-block;
}
.coin {
    width: 70px;
    height: 70px;
    background-image: url('img/coin70.png');
    display: inline-block;
}
.banana {
    width: 70px;
    height: 70px;
    background-image: url('img/banana70.png');
    display: inline-block;
}
.ground {
    width: 70px;
    height: 70px;
    background-image: url('img/bg70.png');
    display: inline-block;
}
.minion {
    width: 70px;
    height: 70px;
    background-image: url('img/minion70.png');
    display: inline-block;
}

div {
    line-height: 0px;
}

div.timer{
    font-size: 30px;
    position: absolute;
    top: 38px;
    left: 76px;
}

.buttonNext {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 38px;
    right: 30px;
}

.buttonDone {
    background-color: yellow;
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 58px;
    left: 30px;
}